/*Заголовок*/


h1{
	text-align: center;
	font-family: "Times New Roman";
	color: blue;
	height: 20px;
}

/*Разделение страниц и настройка свойств этих частей*/
.pagePart{
	display: block;
	background-color: #efefef;
	background-size: auto auto;
    height: 90%;
    width: 635px;
	background-repeat: no-repeat;
	border-color: black;
	border-style: solid;
	position: absolute;
}

#nameGears{
	top: 0;
}
#nameDrawingProfile {
	top: 50px;
}
.nameImage {	
	text-align: center;
	font-family: "Times New Roman";
	font-size: 120%;
	font-weight: normal;
	color: black;
	position: relative;
	overflow: auto;
}

#imageGear {
	background-image: url("../images/cylindrical_gears_external_01.png");	
	top: 15px;
}
#imageDrawingProfile{
	top: 65px;
	background-image: url("../images/cylindrical_gears_standert_profile.png");
}
.images {
	display: block;
	background-size: auto 100%;
	background-position: center center;
	left: 0;
    height: 40%;
    width: 100%;
	background-repeat: no-repeat;
	position: relative;
	overflow: auto;
}

#partCenter{left: 600px;}

#partRight{	left: 1200px;}

/*Стили центральной колонки*/

#firstPartCalc, #secondPartCalc, #thirdPartCalc, #fourthPartCalc{
	margin-top: 10px;
	margin-bottom: 5px;


}
#table4,#table5{
	height: 50%;
}





table, th, tr, td {
border-color: black;
	border-style: solid;
	border-width: 1px;
	position: relative;
	text-align: center;
	font-family: "Times New Roman";
}
table {
	height: 33%;
    width: 100%;
}




#buttonCalc {
	top: 4px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	font-family: "Times New Roman";
	background-color: #cb6868;
	left: 33%;
	width: 33%;
	height: 20px;
	border: 1px solid black;
    border-radius: 2px 2px 2px 2px;
	margin-top: 20px;
	color: #f3dad1;
	cursor: pointer;
	position: relative;
	}





#buttonCalc:focus{
	top: 4px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	font-family: "Times New Roman";
	background-color: #cb6868;
	left: 33%;
	width: 33%;
	border: 1px solid black;
    border-radius: 2px 2px 2px 2px;
	cursor: pointer;
	margin-top: 5px;
	color: #f3dad1;
	position: relative;
	}

#buttonCalc:hover{
	top: 4px;
	background-color: #d75359;
	color: #f3dad1;
	cursor: pointer;
	position: relative;
	}

#buttonCalc:active{
	
	top: 4px;
	background-color: #d75359;
	border: 2px solid blue;
	color: #f3dad1;
	cursor: pointer;
	position: relative;
	}

#buttonXY {
	top: 4px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	font-family: "Times New Roman";
	background-color: #cb6868;
	left: 33%;
	width: 33%;
	height: auto;
	border: 1px solid black;
    border-radius: 2px 2px 2px 2px;
	margin-top: 20px;
	color: #f3dad1;
	cursor: pointer;
	position: relative;
	}

#buttonXY:focus{
	top: 4px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	font-family: "Times New Roman";
	background-color: #cb6868;
	left: 33%;
	width: 33%;
	border: 1px solid black;
    border-radius: 2px 2px 2px 2px;
	cursor: pointer;
	margin-top: 20px;
	color: #f3dad1;
	position: relative;
	}

#buttonXY:hover{
	top: 4px;
	background-color: #d75359;
	color: #f3dad1;
	cursor: pointer;
	position: relative;
	}

#buttonXY:active{
	
	top: 4px;
	background-color: #d75359;
	border: 2px solid blue;
	color: #f3dad1;
	cursor: pointer;
	position: relative;
	}

#buttonExit {
	top: 4px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	font-family: "Times New Roman";
	background-color: #cb6868;
	left: 33%;
	width: 33%;
	height: auto;
	border: 1px solid black;
	border-radius: 2px 2px 2px 2px;
	margin-top: 20px;
	color: #f3dad1;
	cursor: pointer;
	position: relative;
}
#buttonExit:focus{
	top: 4px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	font-family: "Times New Roman";
	background-color: #cb6868;
	left: 33%;
	width: 33%;
	border: 1px solid black;
    border-radius: 2px 2px 2px 2px;
	cursor: pointer;
	margin-top: 20px;
	color: #f3dad1;
	position: relative;
	}

#buttonExit:hover{
	top: 4px;
	background-color: #d75359;
	color: #f3dad1;
	cursor: pointer;
	position: relative;
	}

#buttonExit:active{
	
	top: 4px;
	background-color: #d75359;
	border: 2px solid blue;
	color: #f3dad1;
	cursor: pointer;
	position: relative;
	}
#buttonBuild {
	top: 4px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	font-family: "Times New Roman";
	background-color: #cb6868;
	left: 33%;
	width: 33%;
	height: auto;
	border: 1px solid black;
	border-radius: 2px 2px 2px 2px;
	margin-top: 20px;
	color: #f3dad1;
	cursor: pointer;
	position: relative;
}
#buttonBuild:focus{
	top: 4px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	font-family: "Times New Roman";
	background-color: #cb6868;
	left: 33%;
	width: 33%;
	border: 1px solid black;
    border-radius: 2px 2px 2px 2px;
	cursor: pointer;
	margin-top: 20px;
	color: #f3dad1;
	position: relative;
	}

#buttonBuild:hover{
	top: 4px;
	background-color: #d75359;
	color: #f3dad1;
	cursor: pointer;
	position: relative;
	}

#buttonBuild:active{

	top: 4px;
	background-color: #d75359;
	border: 2px solid blue;
	color: #f3dad1;
	cursor: pointer;
	position: relative;
	}

#errorJS{
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	align-content: center;
	justify-content: center;
	background-repeat: no-repeat;
	background-color: #efefef;
	overflow: auto;
	position: absolute;
}

#pointsEvolvent{
	display: none;
	border: black;
	border-style: solid;
	border-width: 2px;
	top: 20px;
	width: 25%;
	height: 95%;
	background-repeat: no-repeat;
	background-color: #efefef;
	overflow: auto;
	position: absolute;
}

#svgNew{
	display: none;
	border: black;
	border-style: solid;
	border-width: 2px;
	left: 50%;
	top: 20px;
	width: 100%;
	height: 50%;
	background-repeat: no-repeat;
	background-color: #efefef;
	overflow: scroll;
	position: absolute;
}
#projection{
	display: none;
	border: black;
	border-style: solid;
	border-width: 2px;
	left: 25%;
	top: 20px;
	width: 75%;
	height: 95%;
	background-repeat: no-repeat;
	background-color: #efefef;
	overflow: scroll;
	position: absolute;
}

#canvas{
    direction:rtl;
    border: black;
    border-style: solid;
    border-width: 1px;
    left: 0;
    top: 30px;
    position: absolute;
    overflow-x: auto; /* прокрутка по горизонтали */
    overflow-y: auto; /* прокрутка по вертикали */



}